<h2> Using SVG, Typescript driven, Simple 2D Array  </h2>
<ul>
<li>
  In this case we continue to generate an svg via Typescript and Angular's Renderer2.
</li>
<li>
  Now the model has been removed and we render directly from our loop
</li>
<li>
  Also Dropped the service reference for building the checkerboard
</li>
<li>
  Still used class inheritance but build directky to view. No model!

</li>
<li>
  Chrome: 400x400 will give us a delay of 4-5 seconds and a total memory usage of 154MB - an increase of 80MB specifically for the rendering.
</li>
<li>
  Chrome: 500x500 will give us a delay of ~15 seconds and a total memory usage of 311MB - an increase of 150MB specifically for the rendering.
</li>
<li>
  This is already an increase of 300% on development configuration alone!
</li>
<li>
  This drops significantly on production settings - to ~ 64MB in total and 30MB in rendering. There is no huge improvement in rendering performance time as it still takes ~15-20seconds to load.
</li>
<li> At this point there is no model and optimisations would center around parallel and/or buffered rendering and using wew borkers.   </li>
<li>
  source: <a href="https://github.com/Mygi/tsAutomata/blob/master/Automata/src/app/svg/components/svg2-dsimple-array/svg2-dsimple-array.component.ts">available here </a>
</li>
</ul>
 <button (click)="drawSvg()" mat-raised-button color="primary">Draw Checkerboard
        <small></small>
      </button>
<div class="mosaicPixels" id="svgItem" #mySvg >
    
</div>
