<h2> Using Canvas - Automata Model </h2>
<h4> This approach uses an html 2D canvas with circles. </h4>
  <button mat-raised-button  (click)="drawCanvas()" color="primary" class="primary">Draw Checkerboard
        <small></small>
      </button>
  <button mat-raised-button  (click)="updateState()" color="primary" class="primary">Update State
        <small></small>
      </button>
      
<div class="mosaicPixels">
    <canvas (click)="updateCanvas($event.layerX, $event.layerY)" #myCanvas [attr.height]="columnHeight*numRows" [attr.width]="columnWidth*numColumns" style="background:White;"></canvas>
</div>